<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.CarInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.domain.CarInfo">
        <id column="CAR_ID" property="carId"/>
        <result column="CAR_NO" property="carNo"/>
        <result column="FLEET" property="fleet"/>
        <result column="CAR_UNIT" property="carUnit"/>
        <result column="LINKMAN" property="linkman"/>
        <result column="PHONE_NO" property="phoneNo"/>
        <result column="WEIGHT" property="weight"/>
        <result column="WEIGHT_UNIT" property="weightUnit"/>
        <result column="INPUT_NAME" property="inputName"/>
        <result column="INPUT_TIME" property="inputTime"/>
        <result column="CONTENT" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CAR_ID, CAR_NO, FLEET, CAR_UNIT, LINKMAN, PHONE_NO, WEIGHT, WEIGHT_UNIT, INPUT_NAME, INPUT_TIME, CONTENT
    </sql>

</mapper>
