<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.CarTrailInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.domain.CarTrailInfo">
        <id column="TRAIL_ID" property="trailId"/>
        <result column="CAR_ID" property="carId"/>
        <result column="SPEED" property="speed"/>
        <result column="CAR_LONG" property="carLong"/>
        <result column="CAR_LAT" property="carLat"/>
        <result column="AIRTIGHT" property="airtight"/>
        <result column="LIFT" property="lift"/>
        <result column="VIDEO_ADDRESS" property="videoAddress"/>
        <result column="INPUT_TIME" property="inputTime"/>
        <result column="CONTENT" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRAIL_ID, CAR_ID, SPEED, CAR_LONG, CAR_LAT, AIRTIGHT, LIFT, VIDEO_ADDRESS, INPUT_TIME, CONTENT
    </sql>

</mapper>
