<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjtu.jzlj.mapper.EnvironParaMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.bjtu.jzlj.domain.EnvironPara">
        <id column="ENVIRON_PARA_ID" property="environParaId"/>
        <result column="INTAKE_PLANT_ID" property="intakePlantId"/>
        <result column="CONSTRUCTION_WASTE_ID" property="constructionWasteId"/>
        <result column="SAFE_PARA" property="safePara"/>
        <result column="WATER_PARA" property="waterPara"/>
        <result column="SOIL_PARA" property="soilPara"/>
        <result column="ATM_PARA" property="atmPara"/>
        <result column="WARN_PARA" property="warnPara"/>
        <result column="RESULT" property="result"/>
        <result column="INPUT_TIME" property="inputTime"/>
        <result column="CONTENT" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ENVIRON_PARA_ID, INTAKE_PLANT_ID, CONSTRUCTION_WASTE_ID, SAFE_PARA, WATER_PARA, SOIL_PARA, ATM_PARA, WARN_PARA, RESULT, INPUT_TIME, CONTENT
    </sql>

</mapper>
